{% extends "baseadmin.html.twig" %}
{% block body %}
    <p class="text-end">
        <a href="{{ path('admin.formation.ajout') }}" class="btn btn-primary">
            Ajouter une nouvelle formation
        </a>
    </p>
    <table class="table table-striped">
        <caption>Table</caption>
        <thead>
            <tr>
                <th class="text-left align-top" scope="col">
                    Formation<br /> 
                    
                </th>
                <th class="text-left align-top" scope="col">
                    Playlist<br />                
                </th>
                <th class="text-left align-top" scope="col">
                    Catégories  
                </th>
                <th class="text-center align-top" scope="col">
                    Date<br />
                </th>
                <th class="text-center align-top" scope="col">
                    &nbsp;
                </th>
            </tr>
        </thead>
        <tbody>
            {% for formation in formations %}
                <tr class="align-middle">
                    <td>
                        <h5 class="text-info">
                            {{ formation.title }}
                        </h5>
                    </td>
                    <td class="text-left">
                        {{ formation.playlist.name }}                  
                    </td>                    
                    <td class="text-left">
                        {% for categorie in formation.categories %}
                            {{ categorie.name }}<br />
                        {% endfor %}
                    </td>                    
                    <td class="text-center">
                        {{ formation.publishedatstring }}
                    </td>
                    <td>
                        <a href="{{ path('admin.formation.edit', {id:formation.id}) }}" class="btn btn-secondary" >
                            Modifier
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('admin.formation.suppr', {id:formation.id}) }}" class="btn btn-danger" 
                           onclick="return confirm('Supprimer {{formation.title}} ?');">
                            Supprimer
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
