{% extends "base.html.twig" %}

{% block title %}
    
{% endblock %}
{% block stylesheets %}{% endblock %}
{% block top %}
    <div class="container">
        &nbsp;
        <div class="text-end">
            <a href="{{ path('logout') }}" class="btn btn-info btn-sm active">Se déconnecter</a>
        </div>
        <!-- titre -->
            <div class="text-left">
                <img alt="bannière"
                    src="{{ app.request.getBasePath()~'/banniere.jpg' }}" >
            </div>
            <!-- menu -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li>
                            <a class="nav-link" href="{{ path('accueil') }}">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin.formations') }}">Formations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin.playlists') }}">Playlists</a>
                        </li> 
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin.categories') }}">Catégories</a>
                        </li>
                    </ul>
                </div>
            </nav> 
    </div>
        &nbsp;        
{% endblock %}
{% block body %}{% endblock %}
{% block footer %}
{% endblock %}
{% block javascripts %}{% endblock %}
